header {
    background-image: url(img11.jpg);
    background-repeat: no-repeat;
    background-size: 2100px;
    height: 750px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}


.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: rgb(50, 50, 78);
    width: 2022px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(56, 56, 103)
}



